Form {
  margin: 0px auto;
}

.App{
  text-align: center;
  background-color: #282c34;
  color: white;
  justify-content: center;
  align-items: center;
}

.btn-space {
  margin-right: 10px;
}

.center_div{
  margin: 0 auto;
  width:100% /* value of your choice which suits your alignment */
}

.dropdown{
  justify-content: center;
  align-items: center;
  text-align: center;
}


.nav-pills .nav-link.active {
  background-color: rgba(255, 100, 0, 0.5);
}
